.cart-widget{
  width: 70px;
  height: auto;
  order: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  .total--amount{
    color: #fff;
    font-size: 20px;
  }
}
@media only screen and(min-width: 768px) {
  .cart-widget{
    width: 200px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
  }
}