.cart--title {
  width: 100%;
  text-align: center;
}

.cart--container {
  width: 100%;
  height: 150px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

  .cart--detail {
    width: 100%;
    height: auto;

    .cart--img {
      width: 20%;

      img {
        width: 100%;
        max-width: 100px;
      }
    }

    .cart--name {
      width: 30%;

    }

    .cart--qty {
      width: 15%;
    }

    .cart--price {
      width: 15%;
    }

    .cart--remove {
      width: 20%;
      position: relative;
      font-size: 35px;
      color: red;
      cursor: pointer;
    }
  }
}

.trash--btn {
  width: 100px;
  height: 35px;
  font-size: 20px;
  border: 1px solid red;
  border-radius: 5px;
  background-color: transparent;
  float: right;
  cursor: pointer;
  margin: 12px 15px 15px 0px;
  transition: background .6s linear;

  &:hover {
    background-color: red;
    color: #fff;
  }
}

.negative {
  background-color: #ff758f;
  height: 70px;
  margin: 22px auto;
  width: 90%;
  line-height: 70px;
  border-radius: 10px;
  font-size: calc(1rem + 1vw);
}

a {
  text-decoration: none;
  cursor: default;

  .btn--home {
    width: 200px;
    height: 40px;
    display: block;
    margin: 30px auto 30px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
  }

}