.product--card{
  position: relative;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  .card--img{
    background-color: transparent;
    width: 124px;
  }
  .card--name{
    width: 100%;
    font-size: 26px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    margin: 20px 0px 10px;
    text-align: center;
  }
  .card--btn{
    width: 100%;
    height: 35px;
    margin: 10px 0px 0px;
    background-color: transparent;
    border: 1px solid #1e6091;
    color: #1e6091;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    transition: background .7s ease-out;
    &:hover{
      color: #fff;
      background-color: #1e6091;
    }
  }
}

@media only screen and(min-width: 768px){
  .product--card{
    width: 500px;
    height: 530px;
    justify-content: space-around;
    .card--img{
      height: 400px;
    }
    
  }
}