.product--card{
  position: relative;
  width: 280px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex: 1 1 300px;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  .card--price{
    position: absolute;
    top: -10px;
    right: 0px;
    color: #fff;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    z-index: 1;
    &::before{
      content: '';
      position: absolute;
      width: 110px;
      height: 110px;
      border-radius: 50%;
      background-color: #000;
      z-index: -1;
      right: -35px;
      top: -45px;
    }
  }
  .card--img{
    background-color: transparent;
    width: 97px;
  }
  .card--name{
    font-size: 26px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    margin: 20px 0px 10px;
  }
  .card--btn{
    width: 100%;
    height: 35px;
    margin: 10px 0px 0px;
    background-color: transparent;
    border: 1px solid #1e6091;
    color: #1e6091;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    transition: background .7s ease-out;
    &:hover{
      color: #fff;
      background-color: #1e6091;
    }
  }
  .card--description{
    padding: 0px 15px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
  }
}