.container--items{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  .items--title{
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
  }
}
@media only screen and(min-width: 600px) {
  .container--items{
    gap: 60px 40px;
  }
}