.container--items{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:20px;
  .items--title{
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin: 25px 0px 0px;
  }
}
@media only screen and(min-width: 600px) {
  .container--items{
    gap: 40px;
  }
}